<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<title>College Football API</title>
<!-- #00838f -->
<style>
            ul.methods:before { content: "Methods: "; }
            ul.methods li {
                display: inline;
                list-style: none;
            }
            ul.methods li:after { content: ","; }
            ul.methods li:last-child:after { content: ""; }
            ul.arguments:before { content: "Arguments: "; }
            ul.arguments li {
                display: inline;
                list-style: none;
            }
            ul.arguments .argument { font-style:italic }
            ul.arguments .default:not(:empty):before { content: "("; }
            ul.arguments .default:not(:empty):after { content: ")"; }
            ul.arguments li:after { content: ","; }
            ul.arguments li:last-child:after { content: ""; }
</style>
</head>

  <body>

      <div class="container" style="max-width:900px">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class=""><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="#">Documentation</a></li>
            <li role="presentation"><a href="login">Log In</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">CFBAPI</h3>
      </div>
      <div class="row">
        <h2>General Notes</h2>
        <p class="lead">All data is retrieved via GET requests. No other HTTP methods are supported. Querying using any method other than GET will return a <a href="https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.6">405 status code</a>.</p>
        <p class="lead">All endpoints support <strong>limit</strong> and <strong>offset</strong> parameters unless specified. Limit has a maximum value of 100. Offset, when used in combination with limit, can be used as a pagination function.</p>
        <p class="lead">The default API prefix for version 1.0 of the API is:<pre>https://collegefootballapi.com/api/1.0/</pre></p>
      </div>
      <div class="row">
        <h2>General Notes</h2>
        <p class="lead">This API uses basic authentication where the API key is the password. A username is required but not validated.</p>
        <pre>curl -H "Authentication: some_username &lt;&lt;your api key&gt;&gt;</pre></p>
        <p class="lead">API Keys can be found on your profile dashboard by <a href="login">logging in</a>.

        {% for doc in autodoc %}
        <div class="mapping">
            <a id="rule-{{doc.rule|urlencode}}" class="rule"><h2>{{doc.rule|escape}}</h2></a>
            <p class="lead">{{doc.docstring|urlize|nl2br}}</p>
            <ul class="methods">
                {% for method in doc.methods -%}
                    {% if method == 'GET' and doc.args == ['None'] %}
                        <a href="{{doc.rule}}" class="getmethod">
                            <li class="method">{{method}}</li>
                        </a>
                    {% else %}
                        <li class="method">{{method}}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="arguments">
                {% for arg in doc.args %}
                <li>
                    <span class="argument">{{arg}}</span>
                    <span class="default">{{doc.defaults[arg]}}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <hr />
        {% endfor %}

      <div class="row">
      <footer class="footer">
        <p>All game scores courtesy of <a href="http://massyratings.com">MasseyRatings.com</a>, <a href="http://www.sports-reference.com/">Sports-Reference.com</a>, and <a href="http://espn.com">ESPN's Scorecenter Endpoint</a>.</p>
        <p>A special thank you to <a href="http://reddit.com/r/cfb">/r/CFB</a> for the support.</p>
        <p><a href="/legal">Legal stuff</a></p>
      </footer>
</div>
    
    </body>
</html>