<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<title>College Football API</title>
<!-- #00838f -->
</head>
<body>
	<div class="container" style="max-width:900px">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class=""><a href="/">Home</a></li>
            <li role="presentation" class=""><a href="documentation">Documentation</a></li>
            <li role="presentation" class="active"><a href="#">Log In</a></li>
            <li role="presentation"><a href="contact">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">CFBAPI</h3>
      </div>

	<div class="container">
	  <div class="row">
	  	<div class="col-md-8">
	    
	      <div class="panel panel-default">
				<div class="panel-body">
	              		<div class="row">
	                        <div class="col-xs-12 col-sm-8 lead">
	                            <h1>{{ name }}</h1>
	                            <p><strong>Email: </strong> {{ email_address }}</p>
	                            <p><strong>API Key: </strong> <input type=text value="{{ api_key }}" size=30/></p>
	                            <p>Please do <strong>not</strong> share your API key publicly.</p>
	                            <form action="refresh" method="POST">
	                            <input type="hidden" value="{{email_address}}" name="email" id="email">
	                            <input type="submit" class="button" value="Refresh API Key">
	                            </form>
	                        </div><!--/col-->          
	                        <div class="col-xs-12 col-sm-4 text-center">
	                                <img src="{{ image }}" alt="{{ name }}" class="center-block img-circle img-responsive">
	                        </div><!--/col-->
	              		</div><!--/row-->
	              </div><!--/panel-body-->
	              	          </div><!--/panel-->

	              <h3>Example Reqeust</h3>
	              <code>curl -X GET -H "Authorization: apikey {{ api_key }}" https://collegefootballapi.com/api/1.0/teams/tulane/?limit=1</code>
	              <h3>Example Response</h3>
	              <p><pre>
{
  "games": [
    {
      "date": {
        "day": 27,
        "month": 11,
        "year": 2015
      },
      "id": 120471,
      "links": {
        "date": {
          "day": {
            "href": "https://collegefootballapi.com/api/1.0/year/2015/month/11/day/27/"
          },
          "month": {
            "href": "https://collegefootballapi.com/api/1.0/year/2015/month/11/"
          },
          "year": {
            "href": "https://collegefootballapi.com/api/1.0/year/2015/"
          }
        },
        "game": {
          "away_team": {
            "href": "https://collegefootballapi.com/api/1.0/year/2015/month/11/day/27/tulsa"
          },
          "home_team": {
            "href": "https://collegefootballapi.com/api/1.0/year/2015/month/11/day/27/tulane"
          },
          "id": {
            "href": "https://collegefootballapi.com/api/1.0/games/120471/"
          }
        },
        "season": {
          "season": {
            "href": "https://collegefootballapi.com/api/1.0/season/2015/"
          },
          "week": {
            "href": "https://collegefootballapi.com/api/1.0/season/2015/week/13"
          }
        },
        "teams": {
          "away_team": {
            "href": "https://collegefootballapi.com/api/1.0/teams/tulsa/"
          },
          "home_team": {
            "href": "https://collegefootballapi.com/api/1.0/teams/tulane/"
          }
        }
      },
      "results": {
        "away_score": 45,
        "home_score": 34,
        "loser": "tulane",
        "neutral_site": "",
        "time": "FINAL",
        "winner": "tulsa"
      },
      "season": {
        "season": 2015,
        "week": 13
      },
      "teams": {
        "away_team": "tulsa",
        "home_team": "tulane"
      }
    }
  ]
}
			</pre></p>
	    </div>
	  </div>
	</div>
  	<hr />
      <div class="row">
      <footer class="footer">
        <p>All game scores courtesy of <a href="http://www.sports-reference.com/">Sports-Reference.com</a> and <a href="http://espn.com">ESPN's Scorecenter Endpoint</a>.</p>
        <p>A special thank you to <a href="http://reddit.com/r/cfb">/r/CFB</a> for the support.</p>
        <p><a href="/legal">Legal stuff</a></p>
      </footer>
	  </div>

</body>
</html>